<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @login.user_id %>
</p>

<p>

  <strong>Login:</strong>
  <%= @login.login %>
</p>

<p>
  <strong>Passwd:</strong>
  <%= @login.passwd %>
</p>

<%= link_to 'Edit', edit_login_path(@login) %> |
<%= link_to 'Back', logins_path %>
