<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @voucher.user_id %>
</p>

<p>
  <strong>Codigo:</strong>
  <%= @voucher.codigo %>
</p>

<%= link_to 'Edit', edit_voucher_path(@voucher) %> |
<%= link_to 'Back', vouchers_path %>
